@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

* {
  margin:0;
  padding: 0;
}
/* body {
	background: linear-gradient(-45deg, #300000,#37004e, #121212 );
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100%;
} */

.box1 {
  box-shadow: 0px 5px 10px 0px white;            
}

.lgShadow { 
  position: relative;  
} 

.lgShadow::after { 
  content: ""; 
  position: absolute; 
  inset: -.025em; 
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); 
  filter: blur(0.5em); 
  z-index: -1; 
} 

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: linear-gradient(-45deg, #300000,#37004e, #121212 );
}

.textSize {
	font-size: x-large;
}

body, head {
  color: transparent;
}

head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 30s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 1.8616414733em 0.470881644em 7px rgba(255, 0, 107, 0.9), 0.9617337293em 1.4174065085em 7px rgba(248, 0, 255, 0.9), 0.6686070247em 0.5330914029em 7px rgba(6, 255, 0, 0.9), 2.3267976008em 0.4355652035em 7px rgba(0, 7, 255, 0.9), 1.8419468871em 0.6736377624em 7px rgba(0, 177, 255, 0.9), -0.4620027849em 1.1499787609em 7px rgba(79, 255, 0, 0.9), 1.3326641368em 1.2386883917em 7px rgba(31, 0, 255, 0.9), 0.5986562015em 2.2116715013em 7px rgba(116, 255, 0, 0.9), 1.697995584em 1.8363661429em 7px rgba(0, 255, 216, 0.9), -0.2082837882em 0.5064918537em 7px rgba(0, 255, 83, 0.9), 0.9638578736em 2.1966292772em 7px rgba(0, 93, 255, 0.9), -0.1541025479em 1.4595368377em 7px rgba(255, 0, 51, 0.9), 1.4557945593em 1.8159153159em 7px rgba(247, 255, 0, 0.9), 1.7235217074em 1.625456859em 7px rgba(72, 255, 0, 0.9), 1.306685352em 1.6728151135em 7px rgba(0, 255, 133, 0.9), 0.5866678558em -0.2358145243em 7px rgba(0, 243, 255, 0.9), 2.2715474852em 2.3073181524em 7px rgba(255, 168, 0, 0.9), 0.0066488432em 0.3926890424em 7px rgba(14, 255, 0, 0.9), 1.4323330164em 1.498845231em 7px rgba(187, 0, 255, 0.9), 2.3297103297em 2.2806803597em 7px rgba(0, 255, 131, 0.9), 2.1395180476em 0.5084193449em 7px rgba(65, 0, 255, 0.9), 2.3525600669em 0.0259645274em 7px rgba(145, 255, 0, 0.9), -0.3334583792em 0.4540440025em 7px rgba(255, 0, 244, 0.9), -0.0516971498em 0.0289734103em 7px rgba(255, 76, 0, 0.9), 1.8130594108em -0.2432522081em 7px rgba(255, 111, 0, 0.9), 0.8890436096em -0.4860452193em 7px rgba(255, 0, 213, 0.9), -0.3197062658em -0.4826211376em 7px rgba(0, 255, 75, 0.9), 0.9091257202em 1.749578589em 7px rgba(0, 255, 203, 0.9), 1.7751512991em 2.0212762538em 7px rgba(0, 254, 255, 0.9), 1.5582885639em 1.407529671em 7px rgba(176, 255, 0, 0.9), 0.3782764223em 0.600133465em 7px rgba(255, 32, 0, 0.9), 0.8972167441em 2.1106829672em 7px rgba(52, 255, 0, 0.9), 1.1459365313em 0.9573610081em 7px rgba(31, 0, 255, 0.9), 1.9483404207em 2.4656847149em 7px rgba(0, 255, 178, 0.9), 0.2626195464em -0.2364990204em 7px rgba(255, 130, 0, 0.9), 1.2462581119em -0.1563072382em 7px rgba(255, 0, 119, 0.9), 1.2995159898em 2.2312396568em 7px rgba(9, 255, 0, 0.9), 0.6532883096em 0.6575728623em 7px rgba(60, 0, 255, 0.9), 1.4277549203em 1.4608177126em 7px rgba(2, 255, 0, 0.9), 1.6055566967em 0.9292650055em 7px rgba(255, 107, 0, 0.9), 0.2850998048em 0.0958990032em 7px rgba(255, 0, 164, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 1.5962606766em 0.8320706223em 7px rgba(111, 255, 0, 0.9), 2.0535033647em 2.2992539856em 7px rgba(0, 255, 157, 0.9), 0.4158187426em 0.433334862em 7px rgba(245, 0, 255, 0.9), -0.4396618848em 2.1643058813em 7px rgba(0, 19, 255, 0.9), 0.0711408098em 2.1522807333em 7px rgba(195, 255, 0, 0.9), 1.6253153288em 1.6418855964em 7px rgba(109, 255, 0, 0.9), -0.3775188929em 0.4717328936em 7px rgba(144, 0, 255, 0.9), 0.3549880432em 1.8004819489em 7px rgba(255, 100, 0, 0.9), 1.9053099513em 1.8273409989em 7px rgba(224, 0, 255, 0.9), 1.8596139697em 1.3982989984em 7px rgba(80, 255, 0, 0.9), 0.7484043417em 0.7679182011em 7px rgba(0, 170, 255, 0.9), 2.2953546229em 1.5970417814em 7px rgba(255, 160, 0, 0.9), 1.5117776443em 0.613479709em 7px rgba(0, 255, 67, 0.9), 2.2277975707em 1.6572671611em 7px rgba(255, 108, 0, 0.9), 1.1212673639em 2.0738632436em 7px rgba(115, 255, 0, 0.9), 1.0692589679em 2.0026051064em 7px rgba(241, 255, 0, 0.9), 0.1173217765em -0.4369480208em 7px rgba(63, 255, 0, 0.9), 1.0876673882em 2.1003247728em 7px rgba(255, 0, 12, 0.9), 1.20978118em 2.4952040589em 7px rgba(0, 205, 255, 0.9), 0.7027672772em 1.9403761312em 7px rgba(218, 255, 0, 0.9), 1.6959832996em 1.2159260873em 7px rgba(0, 171, 255, 0.9), 0.4028688615em 2.4014850397em 7px rgba(255, 14, 0, 0.9), 0.7452783431em 2.2951352093em 7px rgba(15, 0, 255, 0.9), 1.4453589549em 1.4686540395em 7px rgba(255, 0, 76, 0.9), 1.6726747498em 0.140192325em 7px rgba(0, 255, 64, 0.9), 2.3373196042em 1.7043924974em 7px rgba(244, 255, 0, 0.9), 1.9971080797em 1.1631671625em 7px rgba(255, 0, 28, 0.9), 0.3727140084em -0.1377774406em 7px rgba(255, 93, 0, 0.9), 0.2563816262em 1.2383553469em 7px rgba(0, 97, 255, 0.9), -0.2574484196em 1.4908689808em 7px rgba(0, 255, 89, 0.9), 2.3271474498em 1.3024434031em 7px rgba(255, 84, 0, 0.9), 1.1085279414em 1.5416260345em 7px rgba(255, 0, 140, 0.9), 1.2263476261em 2.1890059543em 7px rgba(0, 255, 130, 0.9), 1.5086284204em -0.3366621243em 7px rgba(0, 19, 255, 0.9), 1.3425889787em 0.5004333629em 7px rgba(255, 81, 0, 0.9), 0.6136968236em 0.3381799766em 7px rgba(0, 106, 255, 0.9), 0.0033547734em 1.2813147896em 7px rgba(255, 184, 0, 0.9), 2.3386971194em 2.4856373327em 7px rgba(255, 0, 171, 0.9), 0.1167564966em 0.4862602407em 7px rgba(0, 67, 255, 0.9), -0.1603247491em 0.3372593294em 7px rgba(0, 155, 255, 0.9), 0.9988965956em 1.8097614639em 7px rgba(145, 255, 0, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 2.0519371038em 1.1588997681em 7px rgba(255, 134, 0, 0.9), 0.8938914273em 0.4359089796em 7px rgba(54, 255, 0, 0.9), 2.2129681917em 0.7499579505em 7px rgba(0, 255, 206, 0.9), -0.4381818433em -0.3703515024em 7px rgba(0, 184, 255, 0.9), 2.0736494149em 2.313505516em 7px rgba(6, 255, 0, 0.9), 1.5280565154em 0.9958756663em 7px rgba(83, 255, 0, 0.9), -0.3372810336em 2.4245429156em 7px rgba(0, 65, 255, 0.9), 0.9518279253em 1.8337768806em 7px rgba(0, 255, 5, 0.9), 0.44778994em 2.3784890758em 7px rgba(248, 0, 255, 0.9), -0.3664130564em -0.3246640615em 7px rgba(204, 0, 255, 0.9), 1.67624014em 0.9607249635em 7px rgba(171, 0, 255, 0.9), 1.5333208159em 2.4580518919em 7px rgba(147, 255, 0, 0.9), 1.0505243305em 0.1416192848em 7px rgba(255, 87, 0, 0.9), 0.3964477016em 1.1494372387em 7px rgba(0, 54, 255, 0.9), 1.5560593039em 1.0143657548em 7px rgba(255, 0, 173, 0.9), 0.2165218727em 2.1653480193em 7px rgba(255, 0, 97, 0.9), -0.3462275244em 1.866799534em 7px rgba(0, 255, 31, 0.9), 0.7040761566em 2.2086401662em 7px rgba(255, 0, 148, 0.9), 0.7684661468em 0.6042968629em 7px rgba(0, 161, 255, 0.9), -0.2495211em 0.7838436241em 7px rgba(255, 0, 158, 0.9), -0.0723415588em -0.3869009795em 7px rgba(0, 255, 0, 0.9), 1.9696952903em 0.8080167439em 7px rgba(0, 255, 207, 0.9), 0.2769695589em 0.6895376372em 7px rgba(255, 0, 51, 0.9), -0.0370122042em -0.3682420768em 7px rgba(255, 0, 67, 0.9), -0.4960296159em 0.6986318494em 7px rgba(35, 0, 255, 0.9), 1.4206710316em 0.022471516em 7px rgba(255, 63, 0, 0.9), 1.4381472516em 0.2600035432em 7px rgba(0, 17, 255, 0.9), -0.1136711427em -0.3284997211em 7px rgba(0, 237, 255, 0.9), 0.0226544004em -0.4536858757em 7px rgba(0, 255, 39, 0.9), 0.9575084958em 2.3000001144em 7px rgba(218, 255, 0, 0.9), 0.183953612em -0.2796690125em 7px rgba(0, 255, 36, 0.9), 0.4266699647em 0.4696440494em 7px rgba(0, 255, 86, 0.9), 0.9345159388em 1.0920847484em 7px rgba(255, 43, 0, 0.9), 0.9244274999em 0.7844176558em 7px rgba(255, 0, 152, 0.9), 0.8906402554em -0.030353885em 7px rgba(100, 255, 0, 0.9), 2.2776618622em 1.6733271121em 7px rgba(0, 255, 226, 0.9), 0.9886881374em 1.058154763em 7px rgba(255, 183, 0, 0.9), -0.4211771682em 1.5507725647em 7px rgba(100, 255, 0, 0.9), 2.1397682585em 0.1177386885em 7px rgba(185, 0, 255, 0.9), -0.0465879948em -0.4552375347em 7px rgba(255, 0, 171, 0.9), 1.3439355464em 0.8167114459em 7px rgba(29, 0, 255, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 0.5116158816em 0.4338000341em 7px rgba(239, 0, 255, 0.9), -0.0346829667em -0.2943894055em 7px rgba(213, 0, 255, 0.9), 0.8513404157em 0.7535038627em 7px rgba(210, 255, 0, 0.9), 0.0517659668em 1.7814315105em 7px rgba(255, 0, 110, 0.9), 2.3228961973em 0.4531609883em 7px rgba(0, 74, 255, 0.9), 0.5516768417em 0.2868562406em 7px rgba(79, 255, 0, 0.9), 1.6805456966em 0.4827254889em 7px rgba(41, 0, 255, 0.9), 2.3589451556em 1.5470243415em 7px rgba(255, 0, 111, 0.9), 1.5536240073em 0.8854178924em 7px rgba(0, 52, 255, 0.9), 1.0027130878em 0.1546917506em 7px rgba(199, 255, 0, 0.9), -0.2058910949em 0.1070443823em 7px rgba(119, 255, 0, 0.9), 2.1453721195em 0.9959483882em 7px rgba(0, 174, 255, 0.9), 1.9250228054em 0.8485457383em 7px rgba(255, 0, 168, 0.9), -0.3303679397em 0.0839547612em 7px rgba(231, 255, 0, 0.9), 0.0235833653em 0.9443228745em 7px rgba(255, 225, 0, 0.9), 1.9000022072em 1.8829031466em 7px rgba(255, 88, 0, 0.9), -0.4638732283em 1.9224166023em 7px rgba(0, 170, 255, 0.9), 0.2891452365em 2.4497905543em 7px rgba(255, 197, 0, 0.9), 0.5269128861em -0.3481803597em 7px rgba(255, 148, 0, 0.9), -0.4891817278em -0.353464813em 7px rgba(255, 119, 0, 0.9), -0.2970826427em 2.4158369225em 7px rgba(255, 0, 138, 0.9), 1.9047137013em 0.8859951472em 7px rgba(223, 255, 0, 0.9), 1.1541389813em 0.1470148274em 7px rgba(0, 122, 255, 0.9), 1.2738267943em 1.3025161969em 7px rgba(78, 0, 255, 0.9), 0.1875160031em 2.3923245014em 7px rgba(255, 173, 0, 0.9), 2.2927768292em 0.0072174732em 7px rgba(213, 255, 0, 0.9), -0.2185826266em 2.1601300694em 7px rgba(140, 255, 0, 0.9), 2.3980378475em 1.9687141516em 7px rgba(255, 224, 0, 0.9), 1.9034174309em 0.8088749161em 7px rgba(0, 255, 83, 0.9), 0.8231757229em 1.5851931455em 7px rgba(255, 162, 0, 0.9), 1.6225489823em 2.1647282728em 7px rgba(255, 204, 0, 0.9), 2.4511961501em 2.3331430519em 7px rgba(0, 91, 255, 0.9), 2.1747129764em 0.8848806751em 7px rgba(0, 255, 138, 0.9), 2.2691819531em -0.2745315165em 7px rgba(0, 255, 183, 0.9), 2.1953970885em -0.411038075em 7px rgba(153, 0, 255, 0.9), -0.3337163437em 0.490183098em 7px rgba(110, 255, 0, 0.9), 1.2585275779em 0.411480283em 7px rgba(48, 255, 0, 0.9), 1.6600672206em -0.1807012809em 7px rgba(0, 255, 223, 0.9), 2.3423102764em 1.4417849223em 7px rgba(0, 103, 255, 0.9), 1.5131221736em 1.4176823735em 7px rgba(255, 0, 22, 0.9), 1.8877588199em 1.9803763242em 7px rgba(0, 255, 45, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}